
<!DOCTYPE html>
<!-- Created By CodingNepal - www.codingnepalweb.com -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>Todo App JavaScript | CodingNepal</title> -->
    <link rel="stylesheet" href="css/style.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
    <div class="wrapper">
        <form action='/' method='post'>
        
            <header>Todo App</header>
            <div class="inputField">

            <input type="text" name="task" placeholder="type a todo.."><br><br>
            <input type="submit" style="border-radius: 5px;font-size: large;background-color: aqua;color:black;" value="+"></input>
            </div>
           
        </form>
    
    
        <form action='/delete' method='post'>

            <%newitem.forEach((item)=>{%>
                <ul class="todoList" style="overflow-x:scroll; overflow-y:scroll;">
                <!-- data are comes from local storage -->
                <li><input type="checkbox" name="name" value="<%=item.name%>" onclick="this.form.submit()" style="scroll-behavior: smooth;"> <%=item.name%></li>
                
                </ul>
            <%})%>
        </form>
        <div class="footer">
            <span>You have <%=newitem.length%> <span class="pendingTasks"></span> pending tasks</span>
            <form action='/deleteall' method='post'>
                <input type="submit" style="border-radius: 5px;font-size: large;background-color: aqua;color:black;"  value="Clear All">
            </form>
        </div>
    </div>

  <!-- <script src="script.js"></script> -->

</body>
</html>
