<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact digvijay</title>
    <style>
        table {
            background-color:white;
        }
        table tr td{
            color:aqua;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <table class="table table-striped" border="3px" colspan="2" cellpadding="2">
                <tr>
                    <td>NAME </td>
                    <td>Digvijay Kumar</td>
                </tr>
                <tr>
                    <td>College </td>
                    <td>Bce Patna</td>
                </tr>
                <tr>
                    <td>Reg No </td>
                    <td>17105126036</td>
                </tr>
                <tr>
                    <td>Batch</td>
                    <td>2017</td>
                </tr>
                <tr>
                    <td>Branch </td>
                    <td>Computer Science</td>
                </tr>
                <tr>
                    <td>Mob No. </td>
                    <td>9955775882</td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>