<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/style.css">
    <title>genQR</title>
    
</head>
<body>
    <div class="container">
        <div class="row">
            <span class="key">gen<span class="qr"><b>QR</b></span></span>
        </div>
        <div class="col">
            <form action='/' method='POST'>
                <label class="roll" for="roll_no" id="roll_no"><span>Roll No :-&nbsp;</span></label>
                <input type="text" name="roll_no" id="roll_no" class="input" placeholder="Enter roll no">&nbsp;&nbsp;
                <input type="submit" class="submit" value="Go">
            </form>
        </div>
    </div>
</body>
</html>