<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <img src="{{poster}}">
        <h2>Title : {{title}}</h2>
        <h2>Rating: {{rating}}</h2>
        <h2>Release date: {{released}}</h2>
        <h2>Genre : {{genre}}</h2>
        <h2>Directed By : {{director}}</h2>
        <h2>Actors : {{actor}}</h2>
        <h2>Languages : {{language}}</h2>
        <h2>Country : {{country}}</h2>
        <h2>Awards : {{awards}}</h2>
    </div>
</body>
</html>