<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <form action="results/" method="GET" >
                <label type="text" class="state" for="state">State: </label>
                <input type="text" class="form-control" name="state" id="state" placeholder="State">
                <input type="submit" class="submit" value="submit">
            </form>
        </div>
    </div>
</body>
</html>