<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body{
            width:100vw;
            height:100vh;
            background-image: 
              linear-gradient(10deg, rgba(
                145, 146, 122, 0.62), rgba(
                  217, 91, 132, 0.58)), url('https://nordicapis.com/wp-content/uploads/5-Best-Free-and-Paid-Weather-APIs-2019-e1587582023501.png');

            
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
        .container{
            width: 100%;
            height:40%;
          
            display: flex;
            justify-content: center;
            align-content: center;
            font-size: 50px;
            
           
        }
        
        .search{
            display: flex;
            justify-content: center;
            font-size:25px;
            box-sizing: inherit;
            background-color: darkgrey;
           
            border-radius:25px;
            margin-left:45px;
        }
        .searchbutton{
            
            display: flex;
            justify-content: center;
            align-items:flex-end;
        }
        .btn{
            border:1px solid white;
            border-radius:10px;
            background-color:aqua;
            font-size:25px;
            margin-top:8px;
        }
        .searchbar{
            width:100%;
            height:100%;
            margin-top: 30px;
        }
        .name{
            width:10px;
            background-color:beige;
            color:rebeccapurple;
            border-radius: 10px;
        }
        form{
            
            display:flex;
            flex-direction:column;
            align-content:center;
        }
        @media(max-width: 584px){
            .main{
                max-width: 75%;
            }}
        @media(max-width: 459px){
                .main{
                  display:flex;
                  flex-direction: column;
            }}
    </style>
    <title>Document</title>
</head>
<body>
    <div class="main">
        <div class="nav">
            <h2><span class="star">*</span><span class="name">moosam</span><span class="star">*</span></h2>
        </div>
        <div class="container">
            <form action='/home' method='POST'> 
                <div class="searchbar"> 
                    <input type="text" name="type" id="type" placeholder="search city.." class="search">
                </div>
                <div class="searchbutton">
                    <input type="submit" value="search" class="btn">
                </div>
        
            </form>
        </div>
    </div>
    
</body>
</html>