<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css"
    
</head>
<body>
    <div class="container">
        <h1><span>&nbsp&nbsp<u>Quote Of  The Day</u>&nbsp</span></h1>
    </div>
    <div class="main">
        <div class="col">
            <div class="shape">
                <h1><span>⹂</span></h1>
                <div class="rectangle">
                    <span>&nbsp<%=quote%></span>
                </div>
            </div>
            <div class="org">
                <div class="triangle-down"></div>
      
            </div>
            <div class="row">
                <div class="rect">
                <span>&nbsp<b><%=author%></b></span>
                </div> 
            </div>
            </div>
            <div class="next">
                <form action="/" method="get">
                    <input type="submit" value="Next">
                </form>
            </div>
        </div>
    </div>
</body>
</html>